* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
html,
body {
 height: 100%;
 width: 100%;
}

main{
    position: relative;
    overflow: hidden;

   
}


.page1{
    height: 100vh;
    width: 100vw;
    background-color: #680000;
}

.page2{
    height: 100vh;
    width: 100vw;
    background-color: #004400;
}
.page3{
    height: 100vh;
    width: 100vw;
    background-color: #000066;
}
.page4{
    height: 100vh;
    width: 100vw;
    background-color: #666600;
}

canvas{
    max-width: 100vw;
    max-height: 100vh;
}