* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;

}

#main {
  position: relative;
  overflow: hidden;
  

}

.page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: #680000; */
}

.page2 {
  height: 100vh;
  width: 100vw;
  /* background-color: #004400; */
}
.page3 {
  height: 100vh;
  width: 100vw;
  /* background-color: #000066; */
}
.page4 {
  height: 100vh;
  width: 100vw;
  /* background-color: #666600; */
}

canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
  /* padding: 1rem; */
}


#loop{
  height: 30%;
  width: 100vw;
  position: absolute;
  top: 50%;
  /* left: 50%; */
 /*  transform: translate(-50%, -50%); */
 background-color: aqua;
}