* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;

}

#main {
  position: relative;
  overflow: hidden;
  

}

.page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: #680000; */
}

.page2 {
  height: 100vh;
  width: 100vw;
  /* background-color: #004400; */
}
.page3 {
  height: 100vh;
  width: 100vw;
  /* background-color: #000066; */
}
.page4 {
  height: 100vh;
  width: 100vw;
  /* background-color: #666600; */
}

canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
  /* padding: 1rem; */
}


#loop{
  height: 25%;
  width: 100vw;
  position: absolute;
  top: 30%;
  /* left: 50%; */
 /*  transform: translate(-50%, -50%); */
 background-color: #00ffff;
 font-size: 5rem;
white-space: nowrap;

font-family:Helvetica, sans-serif;


}

#loop>h1{
font-weight: 400;
animation-name: anime;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
#loop>h1>span{
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
}


@keyframes anime {
  0%{
    transform: translate(0%);

  }
  100%{
    transform: translateX(-100%);
  }
}


